.contact {
  min-height: 100vh;
  background-color: #16a085;
  
  .sub-section {
    padding-top: 8.5%;
    padding-bottom: 2.5%;
  }
  
  h1 {
    color: white;
    padding-bottom: 25px;
    margin: 0;
  }
  
  &__icon {
    margin-right: 20px;
    height: 35px;
    width: 35px;
  }
  
  .row {
    margin-top: 40px;
    font-size: 1.2rem;
  }
  
  .col-11 {
    color: white;
    
    a {
      color: white;
    }
  }
}