body {
  height: 1800px;
}

.greeting {
  background-color: black;
  max-height: 435px;
}

.col-sm-8 {
  height: auto;
  border: 5px solid #F5F5F5;
}

.welcome {
  display: block;
  
  &__sign {
    margin-top: 5%;
    text-align: center;
    color: #F5F5F5;
    font-size: 6vw;
    padding-bottom: 0.4rem;
  }

  &__profession {
    background-color: #4E4E4E;
    display: block;
    padding: 20px;
    max-width: 25vw;
    margin: 0 auto;
    font-size: 2vw;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    color: #F5F5F5;
  }

  &__section {
    text-align: center;
    margin-bottom: 5%;
  }

  &__link {
    display: inline;
    padding-top: 2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
}
